<!-- <h1>List of Student Directory</h1>


    <div>
      <% @students.each do |student| %>
      <%= student.username %>
      <% end %>
    </div> -->
<div class="container-fluid">
  <a id ="topper" class="navbar-brand" href="#">
      <img src= https://bcassetcdn.com/public/blog/wp-content/uploads/2019/11/02142653/Rabbit.jpg alt="" width="100" height="88" class="d-inline-block align-text-top">
      Paducah Student Directory
  </a>
</div>
    <table class="table table-black table-hover" style="color:white">
      <thead>
        <tr>
        <th>Name:</th>
        <th>Major:</th>
        <th>Email:</th>
        <th></th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
        <tr>
        <td><%= link_to "#{student.name}" , student_path(student) %></td>
        <td><%= student.major  %></td>
        <td><%= student.email %></td>
        </tr>
        <% end %>
      </tbody>
  </table>
    
    
    