<table class="table" style="color:white">
    <thead class="table-light">
       <h1 style="color:white">College Of Business</h1> 
    </thead>
    <tbody>
        <% @degrees.each do |degree| %> 
        <tr>
            <td><%= degree.major %> </td>
            <td><%= link_to 'Show', degree_path(degree) %> </td>
        </tr>
        <% end %>
    </tbody>
</table>