<main>
    <div id="home-page" class="text-center">
      <img class="img-fluid" src="https://media.istockphoto.com/photos/law-quadrangle-university-of-michigan-ann-arbor-aerial-view-picture-id1319991057?b=1&k=20&m=1319991057&s=170667a&w=0&h=MXEuQhq56vOInXq7NqZcBynvLxynnBIN8bwgm4dWE-U=" alt="">
      <h1 class="display-5 fw-bold mt-4">CATCH THE INFESTATION!</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Bunny Rabbits are often overlooked, not taking seriously and rarely feared.  Not us...What does it mean to be infested?  We take bunnies like you and inject them with the will power and discipline to never be overlooked again. </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <%= link_to "Apply", apply_path, class:"btn btn-primary btn-lg px-4 gap-3" %>
          <%= link_to "Majors", degrees_path, class:"btn btn-outline-secondary btn-lg px-4" %>
        </div>
      </div>
    </div>
    <div class="b-example-divider"></div>
  </main>
<section class="py-5" id="features">
  <div class="container px-5 my-5">
      <div class="row gx-5">
          <div class="col-lg-4 mb-5 mb-lg-0 border border-primary">
              <div class="feature bg-primary text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
              <h2 class="h4 fw-bolder">Athletics</h2>
              <p>We may be a community college but we will beat UK, Louisville and Duke all on the same day.  Dont bother reaching out to our recruiters because you are probably not good enogh.</p>
              </a>
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0 border border-primary">
              <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
              <h2 class="h4 fw-bolder">Campus</h2>
              <p>We have big buildings & green grass.  What else do you need?</p>
          </div>
          <div class="col-lg-4 border border-primary">
              <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
              <h2 class="h4 fw-bolder">Alumni</h2>
              <p>Every single alumni is a CEO at a fortune 500 company.</p>
              </a>
          </div>
      </div>
  </div>
</section> 