<!-- <h1>Home Page</h1>

<%= link_to "Apply Today" , apply_path %>


    <% if logged_in? %>
      <%= link_to "Log out" , logout_path %>
    <% else %>
      <%= link_to "Log in" , login_path %>
    <% end %>             -->




  <!-- <div id="outline" class="container-fluid bg-dark">
        <img src="https://images.unsplash.com/flagged/photo-1554473675-d0904f3cbf38?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="img-fluid" alt="...">
      </div>
      <div class="container">
      <div class="row">
      <div class="card">
        <div class="card-header">
        Infested Bunny Athlectics
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
         World class facilities
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>  
      </div>
      <div class="card">
        <div class="card-header">
       Apply Today!
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      </div>
      
          <footer id="footer" class="footer mt-auto py-3 bg-light">
            <div class="container-fluid">
              <span class="text-muted">Ludo Web Services</span>
            </div>
          </footer> -->
