<footer>
    <div class="row mt-5 pt-4 border-top">
        <div class="col-md-6 col-lg-8">
            <p>Copyright ©Ludo Web Services 2022 All rights reserved.</p>
        </div>
    </div>
</footer>